In [ ]:
#Integer
price = 10
print(price)

10

In [ ]:
#Floats
rating = 4.9
print(rating)

4.9

In [ ]:
#Strings
name = "Adeleye"
print(name)

Adeleye

In [ ]:
#Boolean
is_published = True
print(is_published)

True

In [ ]:
# Assigment
# We check in a patient named John Smith. He's 20 years old and is a new patient.
name = "John Smith"
age = 20
is_new = True

In [ ]:
name = input("What is your name? ")
print("Hi " + name)

What is your name? Adeleye
Hi Adeleye

In [ ]:
#Assignment
# Ask two questions: Persons name and favortite colour
# then print a message like "Adeleye likes blue"

name = input("What is your name? ")
colour = input("What is your favourite colour? ")
print(name + " likes " + colour)

What is your name? Adeleye
What is your favourite colour? Blue
Adeleye likes Blue

In [ ]:
birth_year = input("Enter your birth year: ")
print(type(birth_year))
age = 2022 - int(birth_year)
print(type(age))
print(age)

Enter your birth year: 1982
<class 'str'>
<class 'int'>
40

In [ ]:
#Assignment
# Ask a user their weight in pounds, convert it to kilograms and print on the Terminals
Weight = input("Enter your weight in pounds: ")
kg = int(Weight) * 0.45
print(kg)

Enter your weight in pounds: 160
72.0

#STRING

In [ ]:
Course = "Python's Course for Beginners"
print(Course)

Python's Course for Beginners

In [ ]:
Course = "Python's Course for Beginners"
print(Course[2:5])

tho

In [ ]:
#Assigment
name = "Jennifer"
print(name[1:-1])

ennife

In [ ]:
# Strings Formating
First =  "John"
Last = "Smith"
Message = First + ' [' + Last + '] is a coder'
Msg = f'{First}  [{Last}] is a coder'
print(Msg)

John  [Smith] is a coder

In [ ]:
# Strings Method
Course = "Python for Beginners"
print(len(Course))

20

In [ ]:
Course = "Python for Beginners"
print(Course.upper())

PYTHON FOR BEGINNERS

In [ ]:
Course = "Python for Beginners"
print(Course.lower())

python for beginners

In [ ]:
Course = "Python for Beginners"
print(Course.find("Beginners"))

11

In [ ]:
Course = "Python for Beginners"
print(Course.replace("Beginners", "Absolute Beginners"))

Python for Absolute Beginners

In [ ]:
Course = "Python for Beginners"
print(Course.replace("P", "J"))

Jython for Beginners

In [ ]:
Course = "Python for Beginners"
print("python" in Course)

False

In [ ]:
Verb = "Pythong for Mathematics"
print(Verb.replace("Mathematics", "Social Science"))

Pythong for Social Science

In [ ]:
#Summary
course = "Python for Beginners"
len()
course.upper()
course.lower()
course.tittle()
course.find()
course.replace()
"..." in course

In [ ]:
#Arithemetic Operations
print(10 + 3)
print(10 - 3)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(10 ** 3)

13
7
3.3333333333333335
3
1
1000

In [ ]:
x = 10
x = x + 3
print(x)

13

In [ ]:
x = 10
x  -= 3               #Argumented assignment
print(x)

7

In [ ]:
#Operator Precedence
x = (10 + 3) * 2 ** 2
print(x)
parenthesis
exponential 2 ** 2
multiplication or division
division or subtraction

16

In [ ]:
x = 10 + 3 * 2 ** 2
print(x)

22

In [ ]:
x = (10 + 3) * 2 ** 2
print(x)

52

In [ ]:
#Assigment
x = (2 + 3 ) * 10 - 3
print(x)

47

In [ ]:
# Math Functions
x = 2.9
print(round(x))

3

In [ ]:
x = -2.9
print(abs(-2.9))

2.9

In [ ]:
import math
print(math.ceil(2.9))

3

In [ ]:
#IF statement
#if its hot
  Its a hot day
   Drink plenty of water
Otherwise if its cold
   its a cold day
   wear warm clothes
otherwise
  Its a lovely day

In [ ]:
Is_hot = True
if Is_hot:
  print("It's a hot day")
print("Enjoy your day")

It's a hot day
Enjoy your day

In [ ]:
#Assigment
price = 1000000
has_good_credit = True
if has_good_credit:
  down_payment = 0.1 * price
else:
  down_payment = 0.2 * price
print(f"Down payment : ${down_payment}")

Down payment : $100000.0

In [ ]:
#Logical Operator
has_good_income = False
has_good_credit = True
if has_good_income and has_good_credit:
  print("Eligible for loan")

In [ ]:
has_good_income = True
has_good_credit = True
if has_good_income or has_good_credit:
  print("Eligible for loan")

Eligible for loan

In [ ]:
has_good_credit = True
has_criminal_record= True
if has_good_credit and not has_criminal_record:
    print("Eligible for loan")

In [ ]:
#Comparison Operators
temperature = 30
if temperature > 30:
  print("It's a hot day")
else:
    print("It's not a hot day")

It's not a hot day

In [ ]:
#While loop: We use y loops to execute ablock of code mulitiple times and there are often useful in building interactive programs and games
i = 1
while i <= 5:
    print(i)
    i = i + 1
print("Done")

1
2
3
4
5
Done

In [ ]:
i = 1
while i <= 5:
    print("*" * i)
    i = i + 1
print("Done")

*
**
***
****
*****
Done

In [ ]:
secret_number = 9
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
    guess =  int(input("Guess:"))
    guess == secret_number
    if guess == secret_number:
       print("You won!")
       break
else:
    print("Sorry you failed")

Guess:9
You won!

In [ ]:
command = ""
while command != "quit"":
      command = input(">").lower()
      if command == "start":
         print("Car started....")
      elif command == "stop":
          print("Car stopped.")
      elif command == "help":
           print("""
           start - to start the car
           stop - to stop the car
           quit - to quit
           """)
      else:
          print("sorry i dont understand that!")

In [ ]:
for item in "Python" :
       print(item)
for item in ["Mosh", "John" ,"Sarah"]:
    print (item)

P
y
t
h
o
n
Mosh
John
Sarah

In [ ]:
for item in range(10):
    print (item)

0
1
2
3
4
5
6
7
8
9
5
6
7
8
9

In [ ]:
for item in range(5,10):
    print (item)

5
6
7
8
9

In [ ]:
# Nested if
for x in range(4):
   for y in range(3):
       print(f"({x}, {y}")

(0, 0
(0, 1
(0, 2
(1, 0
(1, 1
(1, 2
(2, 0
(2, 1
(2, 2
(3, 0
(3, 1
(3, 2

In [ ]:
# List
names = ["John", "Bob", "Mosh","Sarah", "Mary"]
print(names[2:])

['Mosh', 'Sarah', 'Mary']

In [ ]:
# List
names = ["John", "Bob", "Mosh","Sarah", "Mary"]
print(names)

['John', 'Bob', 'Mosh', 'Sarah', 'Mary']

In [ ]:
# List
names = ["John", "Bob", "Mosh","Sarah", "Mary"]
names[2] = "Jon"
print(names)

['John', 'Bob', 'Jon', 'Sarah', 'Mary']

In [ ]:
#2 Dimentional List in python
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(matrix[0][1])

2

In [ ]:
# Nested if
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for row in matrix:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9

In [ ]:
numbers = [4,5,2,4,5,6,7,8,9]
numbers.append(20)
print(numbers)

[4, 5, 2, 4, 5, 6, 7, 8, 9, 20]

In [ ]:
numbers = [4,5,2,4,5,6,7,8,9]
numbers.clear()
print(numbers)

[]

In [ ]:
numbers = [4,5,2,4,5,6,7,8,9]
numbers.remove(5)
print(numbers)

[4, 2, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = [4,5,2,4,5,6,7,8,9]
print(numbers.index(5))

1

In [ ]:
numbers = [4,5,2,4,5,6,7,8,9]
print (50 in numbers)

False

In [ ]:
numbers = [4,5,2,4,5,6,7,8,9]
print (numbers.count(5))

2

In [ ]:
numbers = [4,5,2,4,5,6,7,8,9]
print (numbers.sort())

None

In [ ]:
numbers = [4,5,2,4,5,6,7,8,9]
numbers.sort()
numbers.reverse()
print (numbers)

[9, 8, 7, 6, 5, 5, 4, 4, 2]

In [ ]:
#Tuples are immutable we cannot mutate or changed them
numbers = (1,2,3)
print(numbers[0])

1

In [ ]:
#Unpacking
coordinates = (1,2,3)
x = coordinates[0]
y = coordinates[1]
z = coordinates[2]
x,y,z = coordinates
print(x)

1

In [ ]:
# Dictionaries
customer = {
    "name": "John Smith",
    "age": 30,
    "is_verified": True
}
print(customer["name"])

John Smith

In [ ]:
phone = input("Phone:")
digits_mapping = {
      "1": "One",
      "2": "Two",
      "3": "Three",
      "4": "Four"
}
output = ""
for ch in phone:
    output += digits_mapping.get(ch,"!") + " "
print(output)

Phone:1345
One Three Four !

In [ ]:
# Emoji Converter
message = input(">")
words = message.split(' ')
emojis = {
    ":)": "😊",
    ":(": "🙁"
}
output = ""
for word in words:
    output += emojis.get(word, word) + " "

>Goodmorning sunshine :)

In [ ]:
#Funtions
def greet_user(name):
   print(f"Hi {name}!")
   print("Welcome aboard")
print("Start")
greet_user("John")
greet_user("Mary")
print("Finish")

Start
Hi John!
Welcome aboard
Hi Mary!
Welcome aboard
Finish

In [ ]:
#Funtions
# Key Parameter
def greet_user(first_name, Last_name):
   print(f"Hi {first_name},{Last_name}!")
   print("Welcome aboard")
print("Start")
greet_user("John", "Smith")
print("Finish")

In [ ]:
# Keyword Arguments
def greet_user(first_name, Last_name):
   print(f"Hi {first_name},{Last_name}!")
   print("Welcome aboard")
print("Start")
greet_user("Smith", "John")  #Position  Argument
Cal_cost(total=50, shipping=5, discount=0.1) #Keyword  Argument
print("Finish")

Start
Hi John,Smith!
Welcome aboard
Finish

In [ ]:
def greet_user(first_name, Last_name):
   print(f"Hi {first_name},{Last_name}!")
   print("Welcome aboard")
print("Start")
greet_user("John", Last_name="Smith")  #Position  Argument comes first before Keyword Arguments
print("Finish")

In [ ]:
#Return Statement
def square(number):
    return number * number
print(square(3))

9

In [ ]:
def square(number):
   print(number * number)
print(square(3))

9
None

In [ ]:
# Creating a Usable Functions
age = int(input("Age: "))
print(age)

Age: 20
20

In [ ]:
try:
    age = int(input("Age: "))
    print(age)
except ValueError:
    print("Invalid value")

Age: asa
Invalid value

In [ ]:
try:

    age = int(input("Age: "))
    income = 2000
    risk = income / age
    print(age)
except ZeroDivisionError:
    print("Age cannot be 0.")
except ValueError:
    print("Invalid value")

Age: 0
Age cannot be 0.

In [ ]:
#Comments in python
# print Ocean is blue
print("Ocean is blue")

Ocean is blue

In [ ]:
#Classes in Python
class Point:
     def move(self):
         print("move")

     def draw(self):
         print("draw")

point1 = Point()
point1.x = 10
point1.y = 20
print(point1.x)
point1.draw()

point2 = Point()
point2.x = 1
print(point2.x)

10
draw
1

In [ ]:

class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def move(self):
        print("move")

    def draw(self):
        print("draw")

point = Point(10, 20)
point.x = 11
print(point.x)

11